body {
  background:#000;
  color:#fff;
  font-family:sans-serif;
  text-align:center;
}
.box {
  max-width:360px;
  margin:auto;
  padding:20px;
}
.slot {
  display:flex;
  justify-content:space-between;
  margin:20px 0;
}
.slot div {
  width:80px;
  height:80px;
  font-size:40px;
  border:2px solid gold;
  line-height:80px;
}
button {
  width:100%;
  padding:15px;
  font-size:20px;
  background:gold;
  border:none;
  border-radius:30px;
}
